{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <div class="flex justify-center align-center">
    <div>
      <h1 class="mt-2 font-bold">{% trans "Change Password" %}</h1>
      <form method="POST">
        {% csrf_token %}
        {% for field in form.visible_fields %}
          <div class="mt-4">
            {% include "widgets/input_field.html" with field=field %}
          </div>
        {% endfor %}
        <button class="mt-6 button" type="submit">
          {% trans "Change Password" %}
        </button>
        <a class="block mt-6 font-bold underline" href="{% url 'account_reset_password' %}">
          {% trans "Forgot Password?" %}
        </a>
      </form>
    </div>
  </div>
{% endblock %}
