{% load widget_tweaks %}

{% if field.errors %}
  <ul class="mt-2 pl-4 list-disc">
    {% for error in field.errors %}
      <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
      <li><strong>{ error|escape }</strong></li>
  </ul>
{% endif %}
<label class="flex items-center">
  <span class="mr-2" for="{{ field.id_for_label }}">
    {{ field.label }}
  </span>
  {% render_field field class="rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %}
</label>
